# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bbs

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#ide
.idea

#mac
.DS_Store

#conf
bbs.yaml
